@font-face{
    font-family: br;
    src: url('fonts/Bariol.otf');
}
@font-face{
    font-family: Gravedigger;
    src:url('fonts/Gravedigger.otf')
  }
@-webkit-keyframes land {
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(0.95);
	}
	100%{
		transform: scale(1);
	}
 
}

@keyframes land {
  0%{
		transform: scale(1);
	}
	50%{
		transform: scale(0.95);
	}
	100%{
		transform: scale(1);
	}
}
.boxld{
	animation:land 0.5s ease ;
}
.About_heading{
    font-family: Gravedigger;
    font-size: 3vw;
    margin-left: 37%;
    color: yellowgreen;
    z-index: 1;
    position: relative;
}
.About_content{
    font-family: br;
    font-size: 2vw;
    padding: 0.5vw;
    margin-top: 2vh;
    color:#fff;
    z-index: 1;
    position: relative;
}
.About_section{
    padding: 0;
    margin: 0;
    position: absolute;
}
body{
    background-color: black;
}
.About_section{
    background-color: black;
}
@media screen and (max-width: 1000px) {
    .About_content{
        font-size: 2.5vw;
    }
    .About_heading{
        margin-left: 0;
        font-size: 4vw;
    }
    .Return-home{
        font-size: 3.5vw;
        margin-top: 2%;
    }
}

@media screen and (max-width: 600px) {
    .About_content{
        font-size: 3vh;
    }
    .About_heading{
        left:33%;
        font-size: 4vw;
    }
   .Return-home{
        left:5vw;
        font-size: 3.5vh;
        top: 5vh;
    }
    #back{
        font-size: 3vh;
    }
}
.Return-home{
    left:5vw;
    position: fixed;
    top:10vh;
    color: #fff;
    font-family: 'Bariol';
    font-size: 3vw;
}
#back{  border:2px solid #fff;
    border-radius: 50%;
    font-family: 'GD';
    text-decoration: none;
    transition: 0.3s linear;
    padding: 5%;
    font-size: 1.75vw;
    color: #37efd7;
    transform-origin: center;

}
#back:hover{
    color: #fff;
    border-color:#37efd7 ;
    border-width: 4px;
}

#social{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /*background-color: or: yellow;*/
    height: auto;
    /*z-index: 100000;*/
}
#follow{
    font-family: 'Bariol';
    font-size: 3vh;
    padding-left: 2vh;
    color: #37efd7;
}
i:hover{
    cursor: pointer;
}