@font-face{
    font-family: br;
    src: url('fonts/Bariol.otf');
}
@font-face{
    font-family: Gravedigger;
    src:url('fonts/Gravedigger.otf')
  }
@-webkit-keyframes land {
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(0.95);
	}
	100%{
		transform: scale(1);
	}
 
}

@keyframes land {
  0%{
		transform: scale(1);
	}
	50%{
		transform: scale(0.95);
	}
	100%{
		transform: scale(1);
	}
}
.boxld{
	animation:land 0.5s ease ;
}
.About_heading{
    font-family: Gravedigger;
    font-size: 3vw;
    margin-left: 37%;
    color: yellowgreen;
    z-index: 1;
    position: relative;
}
.About_content{
    font-family: br;
    font-size: 1.5vw;
    padding: 0.5vw;
    color:blueviolet;
    z-index: 1;
    position: relative;
}
.About_section{
    padding: 0;
    margin: 0;
    position: absolute;
}
body{
    background-color: black;
}
.About_section{
    background-color: black;
}
.Return{
    font-family: Gravedigger;
    font-size: 1.5vw;
    margin-left: 43%;
    color: yellowgreen;
    z-index: 1;
    position: absolute;
    margin-top: 2%;
}
@media screen and (max-width: 1000px) {
    .About_content{
        font-size: 2.5vw;
    }
    .About_heading{
        margin-left: 0;
        font-size: 4vw;
    }
    .Return{
        font-size: 3.5vw;
        margin-top: 2%;
    }
}

@media screen and (max-width: 600px) {
    .About_content{
        font-size: 3.5vw;
    }
    .About_heading{
        left:33%;
        font-size: 4vw;
    }
        .Return{
        font-size: 3vw;
        left:-5%;
        padding-top: 1%;
    }
}
