body{
	background: black;
    margin: 0;
    padding: 0;}

.loader{position: absolute;
	left: 35%;
	top: 35%;
	height: 30%;
	width: 30%;
}
svg{
	position: relative;
	left: 0%;
	top: 0%;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
#gear{
	transition: 1s cubic-bezier(0.43,0.39,0.23,0.62);
	transform-origin: 50.2% 49.8%;
    position: fixed;
    z-index: 1000;}

#grhndl{
	position: absolute;
	top:80%;
}

#filler{
	transition: 1s linear;
	position: fixed;
	transform: scaleX(1.07);
	animation: float 1s ease-in ;
	animation-iteration-count: infinite;
	/*d:path("M180.1,428.8c10.6-1.2,20.7-2.7,30.9-3.5c24.6-1.9,48.3-6.9,69.4-21.7c5.7-4,11.4-7.8,17.2-11.6 c37.8-24.7,75.8-22.8,114.3-1.8c7,3.8,9.3,9.2,10,16.9c3,30.3-2.2,58.8-16.5,85.1c-4.6,8.3-9.3,17.3-16,23.3 c-9.8,8.9-21.1,16.2-32.5,22.7c-45.4,26.1-91.3,21.1-128.7-9.2c-24.7-20-37.6-48.1-44.4-79.8C179.4,433.9,178.4,427.3,177.1,419.8z");*/
    
}

.crc{transition: 2.5s linear;
	transform-origin: center;
	position: fixed;
	
	}

#ring1,#ring2{
transition: 1s linear;
}
#title{
	position: absolute;
	top: 15vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	z-index: 5000;
	width: 100vw;
	height: 70vh;
	font-family: Gd;
}
h2{
	letter-spacing: 4px;
	color: #fff;
    font-size: 2.5vw;
    font-family: Gd;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-left: 2vw;
	}

#extra{
	/*position: absolute;*/
	/*z-index: 5000;*/
	color: #fff;
	font-family: Br;
	font-size: 1.5vw;
	letter-spacing: 2px;
	/*top:75vh;*/
	/*left:30vw;*/
}	
button{
	 position:absolute;
	 x:50;
	 y:100;
	 display: none; 
}	
#loading{
	position: absolute;
	z-index: 5000;
	color: #fff;
	font-family: Br;
	font-size: 2.5vw;
	letter-spacing: 2px;
	top: 65vh;
	left: 45vw;
	animation:blink 2.5s linear ;
	animation-iteration-count: infinite;
}
@media only screen and (max-width: 500px){
h2{
	font-size: 2vh;
	margin-left: 2vw;
}
#title{
	height: 60vh;
}
}
@font-face{
	font-family: Br;
	src:url("./Bariol.otf");
}
@font-face{
	font-family: Gd;
	src:url("./Gravedigger.otf");
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes float {
  0% {
    d:path("M426.521,450.763c-0.262,2.844-1.109,5.559-1.871,8.281 c-6.512,23.271-18.325,43.23-35.905,59.5c-13.833,12.801-29.725,21.961-47.585,27.506c-8.281,2.57-16.715,4.477-25.341,5.24 c-7.853,0.693-15.697,0.588-23.579-0.273c-14.84-1.621-28.886-5.918-42.132-12.76c-28.675-14.809-48.708-37.773-60.513-68.268 c-3.821-9.869-6.355-20.098-7.546-30.666c-0.282-2.508-0.511-5.012-0.653-7.529c-0.043-1.491,0.944-1.942,2.113-2.34 c7.032-2.402,14.052-4.845,21.076-7.272c16.975-5.871,33.954-11.729,50.923-17.617c18.505-6.42,37.004-12.859,55.49-19.333 c1.216-0.426,2.126-0.308,3.241,0.346c10.728,6.285,21.497,12.495,32.246,18.738c13.102,7.609,26.193,15.238,39.298,22.842 C391.858,426.035,405.441,433.894,419.021,441.763z");
  }
  25% {
  	d:path("M180.1,428.8c10.6-1.2,20.7-2.7,30.9-3.5c24.6-1.9,48.3-6.9,69.4-21.7c5.7-4,11.4-7.8,17.2-11.6 c37.8-24.7,75.8-22.8,114.3-1.8c7,3.8,9.3,9.2,10,16.9c3,30.3-2.2,58.8-16.5,85.1c-4.6,8.3-9.3,17.3-16,23.3 c-9.8,8.9-21.1,16.2-32.5,22.7c-45.4,26.1-91.3,21.1-128.7-9.2c-24.7-20-37.6-48.1-44.4-79.8C179.4,433.9,178.4,427.3,177.1,419.8z");
  }
  50% {
    d:path("M426.521,450.763c-0.262,2.844-1.109,5.559-1.871,8.281 c-6.512,23.271-18.325,43.23-35.905,59.5c-13.833,12.801-29.725,21.961-47.585,27.506c-8.281,2.57-16.715,4.477-25.341,5.24 c-7.853,0.693-15.697,0.588-23.579-0.273c-14.84-1.621-28.886-5.918-42.132-12.76c-28.675-14.809-48.708-37.773-60.513-68.268 c-3.821-9.869-6.355-20.098-7.546-30.666c-0.282-2.508-0.511-5.012-0.653-7.529c-0.043-1.491,0.944-1.942,2.113-2.34 c7.032-2.402,14.052-4.845,21.076-7.272c16.975-5.871,33.954-11.729,50.923-17.617c18.505-6.42,37.004-12.859,55.49-19.333 c1.216-0.426,2.126-0.308,3.241,0.346c10.728,6.285,21.497,12.495,32.246,18.738c13.102,7.609,26.193,15.238,39.298,22.842 C391.858,426.035,405.441,433.894,419.021,441.763z");
  }

  75%{  	
  	d:path("M424.7,427.8c-10.6-1.2-20.7-2.7-30.9-3.5c-24.6-1.9-48.3-6.9-69.4-21.7c-5.7-4-11.4-7.8-17.2-11.6 c-37.8-24.7-75.8-22.8-114.3-1.8c-7,3.8-9.3,9.2-10,16.9c-3,30.3,2.2,58.8,16.5,85.1c4.6,8.3,9.3,17.3,16,23.3 c9.8,8.9,21.1,16.2,32.5,22.7c45.4,26.1,91.3,21.1,128.7-9.2c24.7-20,37.6-48.1,44.4-79.8C417.5,433.9,418.4,427.3,419.7,419.8z");
 }
  100% {
        d:path("M426.521,450.763c-0.262,2.844-1.109,5.559-1.871,8.281 c-6.512,23.271-18.325,43.23-35.905,59.5c-13.833,12.801-29.725,21.961-47.585,27.506c-8.281,2.57-16.715,4.477-25.341,5.24 c-7.853,0.693-15.697,0.588-23.579-0.273c-14.84-1.621-28.886-5.918-42.132-12.76c-28.675-14.809-48.708-37.773-60.513-68.268 c-3.821-9.869-6.355-20.098-7.546-30.666c-0.282-2.508-0.511-5.012-0.653-7.529c-0.043-1.491,0.944-1.942,2.113-2.34 c7.032-2.402,14.052-4.845,21.076-7.272c16.975-5.871,33.954-11.729,50.923-17.617c18.505-6.42,37.004-12.859,55.49-19.333 c1.216-0.426,2.126-0.308,3.241,0.346c10.728,6.285,21.497,12.495,32.246,18.738c13.102,7.609,26.193,15.238,39.298,22.842 C391.858,426.035,405.441,433.894,419.021,441.763z");
}
  
}

